.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  border-bottom: 1px solid gray;
}

.navlink {
  margin-left: 2em;
  text-decoration: none;
  color: #08f;
  letter-spacing: 0.03rem;
}

.navlink:last-of-type {
  border-left: 3px solid gray;
  margin-left: 1em;
  padding-left: 1em;
}

.navlink:hover {
  text-decoration: underline;
  color: #d63384;
  box-sizing: border-box;
}

.navlink:active {
  text-decoration: underline;
  color: #d63384;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoImg {
  width: 6%;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 0.25em;
}

.activelink {
  text-decoration: underline;
}
