.nav-logo {
    display: flex;
    gap: 8px;
  }
  
  .logo {
    width: 50px;
    height: 50px;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
  }
  
  .space {
    display: flex;
    gap: 28px;
    margin-right: 10px;
    padding: 2px;
  }

  .active {
    text-decoration: underline;
    color: #0ea5e9;
  }