.mission-container {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    padding:1rem;
    color:#858796;
    overflow-x: auto;   
  }
  
  .table {
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    vertical-align: top;
    caption-side: bottom;
    border-collapse: collapse;
    color: #000;
    border: 1px solid #cecaca;
  }
  
  .row {
    background-color: #fcfcfc;
    color:#5a5c69;
    border: 1px solid #cecaca;
  }
  
  .column {
    border: 1px solid #cecaca;
    text-align: left;
    padding: 8px;
    vertical-align: bottom;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  
  .column:first-child {
    width: 12%;
    border: 1px solid #cecaca;
  }
  
  .column:nth-child(2) {
    width: 60%;
    border: 1px solid #cecaca;
  }
  
  .column:nth-child(3) {
    width: 12%;
    border: 1px solid #cecaca;
  }
  
  .column:nth-child(4) {
    width: 16%;
    border: 1px solid #cecaca;
  }
  
  .cell {
    border: 1px solid #cecaca;
  }