@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.mission-container {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding: 1rem;
  color: #858796;
  overflow-x: auto;
}

.table {
  width: 90%;
  padding: 1rem;
  vertical-align: top;
  caption-side: bottom;
  border-collapse: collapse;
  border: 2px solid #cecaca;
  color: #363636;
  margin: 2rem 5%;
  table-layout: fixed;
}

.table * {
  font-family: 'Roboto', sans-serif;
}


.table td,
.table th {
  border: 2px solid #dadada;
  padding: 1rem 0.5rem;
}

.table tr:nth-child(even) { background-color: #f2f2f2; }
.table tr:hover { background-color: #ddd; }

.row {
  background-color: #fcfcfc;
  color: #5a5c69;
  border: 1px solid #cecaca;
}

.column {
  border: 1px solid #cecaca;
  text-align: left;
  padding: 8px;
  vertical-align: bottom;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.column:first-child {
  width: 12%;
  border: 1px solid #cecaca;
}

.column:nth-child(2) {
  width: 60%;
  border: 1px solid #cecaca;
}

.column:nth-child(3) {
  width: 12%;
  border: 1px solid #cecaca;
}

.column:nth-child(4) {
  width: 16%;
  border: 1px solid #cecaca;
}

.cell {
  border: 1px solid #cecaca;
}

.cell:nth-child(3) {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cell:nth-child(4) {
  text-align: center;
}

.notmember {
  padding: 5px;
  background-color: #777474;
  color: white;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 25px;
  text-align: center;
}

.member {
  padding: 5px;
  background-color: #0c9aad;
  color: white;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 25px;
  text-align: center;
}

.joinMissions {
  padding: 10px 15px;
  font-size: 15px;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}