.dragonimage {
  width: 300px;
  height: 250px;
}

.dragon-container {
  margin-top: 1%;
  margin-left: 3%;
}

.dragon-list {
  display: flex;
  margin-bottom: 2%;
}

.dragon-list button {
  margin-top: 14%;
  background-color: #0290ff;
  padding: 5% 7%;
  border-radius: 4%;
  border: none;
}

.dragon-list .about {
  padding: 0.3% 0;
  width: 15%;
  margin-left: 0.5%;
}

.dragon {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4%;
}

.type {
  font-size: 15px;
}

.reserved {
  background-color: #00a2c5;
  margin-right: 5%;
  font-size: 12px;
  padding: 1% 3%;
  border-radius: 6px;
}

.dragon-list .cancel {
  border: 1px solid gray;
  margin-top: 14%;
  padding: 5% 7%;
  border-radius: 4%;
  background-color: white;
}

.dragon-list .cancel:hover {
  background-color: whitesmoke;
}
